[submodule "external/splines-lib"]
	path = external/splines-lib
	url = https://github.com/andrewwillmott/splines-lib
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "external/implot"]
	path = external/implot
	url = https://github.com/epezent/implot.git
[submodule "external/sol2"]
	path = external/sol2
	url = https://github.com/ThePhD/sol2
